<form [formGroup]="formProduct" (ngSubmit)="onSubmit()">
    <h2 mat-dialog-title>{{description}} producto</h2>
    <mat-dialog-content class="mat-typography">

        <input type="hidden" formControlName="id" />

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Título</mat-label>
            <input matInput formControlName="title" />
            <mat-error *ngIf="formProduct.get('title')?.hasError('required')">Requerido</mat-error>
            <mat-error *ngIf="formProduct.get('title')?.hasError('minlength')">Mínimo 3 caracteres</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Precio</mat-label>
            <input matInput type="number" formControlName="price" />
            <mat-error *ngIf="formProduct.get('price')?.hasError('required')">Requerido</mat-error>
            <mat-error *ngIf="formProduct.get('price')?.hasError('min')">Debe ser mayor a 0</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error *ngIf="formProduct.get('description')?.hasError('required')">Requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Categoría</mat-label>
            <input matInput formControlName="category" />
            <mat-error *ngIf="formProduct.get('category')?.hasError('required')">Requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>URL de Imagen</mat-label>
            <input matInput formControlName="image" />
            <mat-error *ngIf="formProduct.get('image')?.hasError('required')">Requerido</mat-error>
            <mat-error *ngIf="formProduct.get('image')?.hasError('pattern')">Debe ser una URL válida</mat-error>
        </mat-form-field>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button matButton mat-dialog-close>Cancelar</button>
        <button matButton type="submit" cdkFocusInitial *ngIf="!isSaving; else showSpinner">Guardar</button>
        <ng-template #showSpinner>
            <mat-spinner diameter="40"></mat-spinner>
        </ng-template>
    </mat-dialog-actions>
</form>